.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(min-content, 1280px);
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  grid-template-areas:
    "header"
    "content"
    "footer";
  font-family: "Inter", "Arial", sans-serif;
  background: #2a2c2f;
}
