.cover__image {
  margin: 0 48px;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
}

@media screen and (max-width: 1279px) {
  .cover__image {
    max-width: 100%;
    min-height: 640px;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__image {
    max-width: 100%;
    min-height: 480px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .cover__image {
    max-width: 100%;
    min-height: 200px;
    margin: 0;
  }
}
